@import "tailwindcss";

@theme {
  --color-board-light: #f0d9b5;
  --color-board-dark: #b58863;
  --color-highlight-correct: #d97706; /* warm amber */
  --color-highlight-incorrect: #ef4444; /* red */
}

@layer base {
  body {
    @apply bg-stone-950 text-stone-100 antialiased font-sans m-0 p-0;
  }
}
